*.chg
*.ERRORS
*.img
*.img7
*.pac
*.sml
*.exe
*.dll
*.pdb
!SciLexer.dll
!WebView2Loader.dll
!DBOOT.img7
!DBOOT.sml
Repository/
Releases/
*.testlog
*.~html
*.adu
Contributions/
!Core/Contributions/
Projects
*.log
RegressionTests.xml
.vs
packages
Debug
Release
VM Debug
WinRel
WinDebug
WinDLLDebug
ActiveXHost.h
*_i.c
*_i.h
*_p.c
dlldata.c
UpgradeLog.htm
*.tlb
*.lst
*.user
*.ncb
*.suo
*.ipch
*.sdf
*.aps
*.opensdf
*.VC.opendb
*.VC.db
DolphinBoot
hooks
lfs
*.exe.WebView2
Package backups/
