.vs
packages
Debug
Release
VM Debug
WinRel
WinDebug
WinDLLDebug
ActiveXHost.h
*_i.c
*_i.h
*_p.c
dlldata.c
UpgradeLog.htm
*.tlb
*.lst
*.user
*.ncb
*.suo
*.ipch
*.sdf
*.aps
*.opensdf
*.VC.opendb
*.VC.db
DolphinBoot
