version: 7.1.8.{build}
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
skip_branch_with_pr: true
image: Visual Studio 2019
configuration: Release
install:
- cmd: >-
    git submodule update --init --recursive
    
    git lfs pull
build:
  project: Core\DolphinVM\DolphinVM.sln
  verbosity: minimal
after_build:
- cmd: Core\DolphinVM\AppVeyorZIPDolphinVM
test_script:
- cmd: AppVeyorBootAndTest
artifacts:
- path: dpro.*
  name: DPro
- path: RegressionTests.xml
  name: DPro
- path: DolphinVM.zip
  name: DolphinVM
- path: DolphinPdbs.zip
  name: DolphinPdbs
notifications:
- provider: Email
  to:
  - bower@object-arts.com
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false