version: 7.1.3.{build}
pull_requests:
  do_not_increment_build_number: true
skip_tags: true
skip_branch_with_pr: true
image: Visual Studio 2017
configuration: Release
install:
- cmd: >-
    git submodule update --init --recursive
    
    git lfs pull
build:
  project: Core\DolphinVM\DolphinVM.sln
  verbosity: minimal
test_script:
- cmd: BootAndTestDPRO
artifacts:
- path: dpro.*
  name: DPro
- path: RegressionTests.xml
  name: DPro
notifications:
- provider: Email
  to:
  - bower@object-arts.com
  on_build_success: false
  on_build_failure: true
  on_build_status_changed: false